@font-face{
    font-family: "Spartan";
    src: url(spartan-cufonfonts\Spartan-Light.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
body{
    background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
    width: 100%;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #c1acac;
}
h4{
    font-size: 20px;
    color: #e981e5;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #bc66ed;
    margin: 15px 0 20px 0;
}
header{
    border-radius: 14px;
}
.power nav{
    padding:20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edddec;
    box-shadow: 0 5px 15px rgba(0.06, 0, 0, 0.06);
}
.power nav ul{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.power li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
.power li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s ease;
}
.power li a:hover,
.power li a.active{
    color: blueviolet;
}
.power li a.active::after,
.power li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: blueviolet;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.logo{
    width: 250px;
    margin-left: 30px;
    margin-top: 0%;
    top: 0;
    display: block;
    bottom: 0;
}
#hakdog{
    width: 100%;
    height: 90vh;
    padding: 0 80px;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(headphonebg.jpg);
}
#hakdog h4{
    padding-bottom: 15px;
}
#hakdog h1{
    color: blueviolet;
}
#shopnow{
    background-image: url(orange-pastel-watercolor-brush-stroke-png.png);
    background-position: center;
    background-color: transparent;
    color:rgb(62, 6, 61);
    padding: 14px 80px 14px 65px;
    border: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    background-size: 60%;
    background-repeat: no-repeat;
    text-decoration: none;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  
  .footer p {
    color: #8a8a8a;
  }
  
  .footer h3 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  
  .footer-col-1 {
    flex-basis: 30%;
  }
  
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }
  
  .footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
  }
  
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
  }
  
  .app-logo {
    margin-top: 20px;
  }
  .app-logo img {
    width: 140px;
  }
  
  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  
  .copyright {
    text-align: center;
  }
  
  .menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
  }
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
 